[x-cloak] {
    display: none !important;
}

body{
    font-family: 'Inter', sans-serif;
}

table {
    font-size: 12px;
}

img{
    object-position: center;
}

/* th{
    text-wrap: nowrap;
} */

.icon{
    width: 16px;
}

.card-icon{
    width: 18px;
}

#editOrderOffcanvas{
    height: 35rem;
}

